In [ ]:
import pandas as pd
import numpy as npd

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import os

file_path = os.path.join('/content/drive/My Drive/Colab Notebooks', 'dataset_hw3.xlsx')
df = pd.read_excel(file_path)

In [ ]:
# Mengimport sheet "Paid-Transaction"
df_transaction = pd.read_excel(file_path, sheet_name='Paid-Transaction')

# Mengimport sheet "Seller"
df_seller = pd.read_excel(file_path, sheet_name="Seller")

In [ ]:
df_transaction

,Paid Date,Order Number,First Name,Last Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,0,0.0
2,20170707,201707079264675,Citra,Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",35000,0,700.0,0,0.0
3,20170720,201707209945714,Dian,Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,5900.0,0,0.0
4,20170722,201707220002354,rizal,Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,81000,0,5600.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
11995,20171201,201712012704898,Fitrah,gina,Service/ Mokado,"Xtra Combo 12GB, 30hr",333000,300000,2300.0,0,0.0
11996,20171203,201712032723513,Djebeng,Shinta,Service/ Mokado,"Xtra Combo 12GB, 30hr",280000,222500,0.0,0,0.0
11997,20171204,201712042740205,Amik,Elan,Home/ Food,Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...,150000,81000,4800.0,0,0.0
11998,20171207,201712072778621,Anna,asih,Gadget/ Komputer,Samsung Galaxy J5 Pro Garansi Resmi Special Price,475000,400000,0.0,0,0.0
11999,20171205,201712052746101,nidyah,ayi,Service/ Mokado,[SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...,475000,400000,20000.0,17000,0.0

In [ ]:
df_seller

          Order Number        Seller
0      201707209929420  Global Phone
1      201707129550097        E-shop
2      201707039056021   twelven com
3      201707099376522      GRAMEDIA
4      201707028956707        E-Bold
...                ...           ...
11995  201712042733301        E-Bold
11996  201711292684084  Luckykorea88
11997  201712072774578      GAU SHOP
11998  201712032722038   Farida Toko
11999  201712112833370   Mullia Cell

[12000 rows x 2 columns]

In [ ]:
df_transaction.info()
df_transaction.shape
print("\n=====================================\n")
df_seller.info()
df_seller.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Paid Date           12000 non-null  int64
 1   Order Number        12000 non-null  int64
 2   First Name          11996 non-null  object
 3   Last Name           11996 non-null  object
 4   Meta Category       12000 non-null  object
 5   Product Name        12000 non-null  object
 6   Transaction Amount  12000 non-null  int64
 7   Seller Discount     12000 non-null  int64
 8   Sales Discount      12000 non-null  float64
 9   Delivery Fee        12000 non-null  int64
 10  Other Discount      12000 non-null  float64
dtypes: float64(2), int64(5), object(4)
memory usage: 1.0+ MB

=====================================

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Number  12000 non-null  int64
 1   Seller        12000 non-null  object
dtypes: int64(1), object(1)
memory usage: 187.6+ KB

(12000, 2)

1. Buatlah kolom baru bernama “Full Name” dan sisipkan kolom tersebut setelah kolom “Last
Name” yang berisikan nama lengkap dari setiap isian record dengan ketentuan sebagai berikut:
• Nama lengkap menggabungkan “First Name” dan “Last Name”.
• Nama lengkap menggunakan “title case”, yaitu untuk setiap kata, huruf awalnya harus
huruf kapital.

In [ ]:
df_transaction.columns

Index(['Paid Date', 'Order Number', 'First Name', 'Last Name', 'Meta Category',
       'Product Name', 'Transaction Amount', 'Seller Discount',
       'Sales Discount', 'Delivery Fee', 'Other Discount'],
      dtype='object')

In [ ]:
# Membuat kolom 'Full Name' berisi data gabungan dari value kolom 'First Name' dan 'Last Name' dengan modifikasi value berupa 'title case'
df_transaction['Full Name'] = df_transaction['First Name'].str.title() + ' ' + df_transaction['Last Name'].str.title()

In [ ]:
# Melakukan reindex untuk memposisikan kolom 'Full Name' setelah kolom 'Last Name'
df_transaction = df_transaction.reindex(columns=['Paid Date', 'Order Number', 'First Name', 'Last Name','Full Name','Meta Category',
       'Product Name', 'Transaction Amount', 'Seller Discount',
       'Sales Discount', 'Delivery Fee', 'Other Discount'])
df_transaction

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,0,0.0
2,20170707,201707079264675,Citra,Ardi,Citra Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",35000,0,700.0,0,0.0
3,20170720,201707209945714,Dian,Renaldi,Dian Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,5900.0,0,0.0
4,20170722,201707220002354,rizal,Tamba,Rizal Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,81000,0,5600.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11995,20171201,201712012704898,Fitrah,gina,Fitrah Gina,Service/ Mokado,"Xtra Combo 12GB, 30hr",333000,300000,2300.0,0,0.0
11996,20171203,201712032723513,Djebeng,Shinta,Djebeng Shinta,Service/ Mokado,"Xtra Combo 12GB, 30hr",280000,222500,0.0,0,0.0
11997,20171204,201712042740205,Amik,Elan,Amik Elan,Home/ Food,Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...,150000,81000,4800.0,0,0.0
11998,20171207,201712072778621,Anna,asih,Anna Asih,Gadget/ Komputer,Samsung Galaxy J5 Pro Garansi Resmi Special Price,475000,400000,0.0,0,0.0
11999,20171205,201712052746101,nidyah,ayi,Nidyah Ayi,Service/ Mokado,[SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...,475000,400000,20000.0,17000,0.0

 2. Tambahkan sebuah kolom setelah kolom “Seller Discount” dan beri nama kolom tersebut sebagai
“GMV”. GMV adalah Gross Merchandise Value yang nilainya dihitung berdasarkan “Transaction
Amount” dikurangi “Seller Discount” ditambah dengan “Delivery Fee”.

In [ ]:
# Membuat kolom 'GMV' yang berisi data berupa perhitungan value dari pengurangan kolom 'Transaction Amout' dengan kolom 'Seller Discount' yang ditambahkan dengan kolom 'Delivery Fee'
df_transaction['GMV']=df_transaction['Transaction Amount'] - df_transaction['Seller Discount'] + df_transaction['Delivery Fee']

In [ ]:
# Melakukan reindex untuk memposisikan kolom 'GMV' setelah kolom 'Seller Discount'
df_transaction = df_transaction.reindex(columns=['Paid Date', 'Order Number', 'First Name', 'Last Name','Full Name','Meta Category',
       'Product Name', 'Transaction Amount', 'Seller Discount', 'GMV',
       'Sales Discount', 'Delivery Fee', 'Other Discount'])
df_transaction

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,GMV,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,156000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,219800,0.0,0,0.0
2,20170707,201707079264675,Citra,Ardi,Citra Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",35000,0,35000,700.0,0,0.0
3,20170720,201707209945714,Dian,Renaldi,Dian Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,85000,5900.0,0,0.0
4,20170722,201707220002354,rizal,Tamba,Rizal Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,81000,0,81000,5600.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,20171201,201712012704898,Fitrah,gina,Fitrah Gina,Service/ Mokado,"Xtra Combo 12GB, 30hr",333000,300000,33000,2300.0,0,0.0
11996,20171203,201712032723513,Djebeng,Shinta,Djebeng Shinta,Service/ Mokado,"Xtra Combo 12GB, 30hr",280000,222500,57500,0.0,0,0.0
11997,20171204,201712042740205,Amik,Elan,Amik Elan,Home/ Food,Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...,150000,81000,69000,4800.0,0,0.0
11998,20171207,201712072778621,Anna,asih,Anna Asih,Gadget/ Komputer,Samsung Galaxy J5 Pro Garansi Resmi Special Price,475000,400000,75000,0.0,0,0.0
11999,20171205,201712052746101,nidyah,ayi,Nidyah Ayi,Service/ Mokado,[SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...,475000,400000,92000,20000.0,17000,0.0

3. Kelompokkan setiap Meta Category menjadi 2 group sesuai tabel di bawah ini (hint: buat kolom tambahan yang berisi keterangan group 1 atau 2 sesuai Meta Category-nya). Buatlah DataFrame baru yang menyimpan pivot table dari DataFrame “Paid-Transaction” di atas untuk menampilkan jumlah total nilai GMV per-bulan untuk setiap group.

In [ ]:
df_mc=pd.DataFrame({
    'Group 1': {0:'Home/ Food', 1:'Sports/ Hobi/ Otomotif', 2:'Fashion', 3:'Beauty/ Health',},
    'Group 2': {0:'Gadget/ Komputer', 1:'Elektronik', 2:'Service/ Mokado', 3:'Babies/ Kids'}
})
df_mc

                  Group 1           Group 2
0              Home/ Food  Gadget/ Komputer
1  Sports/ Hobi/ Otomotif        Elektronik
2                 Fashion   Service/ Mokado
3          Beauty/ Health      Babies/ Kids

In [ ]:
df_transaction['Meta Category'].unique()

array(['Babies/ Kids', 'Service/ Mokado', 'Fashion', 'Gadget/ Komputer',
       'Beauty/ Health', 'Home/ Food', 'Sports/ Hobi/ Otomotif',
       'Elektronik'], dtype=object)

In [ ]:
df_transaction.columns

Index(['Paid Date', 'Order Number', 'First Name', 'Last Name', 'Full Name',
       'Meta Category', 'Product Name', 'Transaction Amount',
       'Seller Discount', 'GMV', 'Sales Discount', 'Delivery Fee',
       'Other Discount'],
      dtype='object')

In [ ]:
# Membuat kolom baru 'Group Kategory' berdasarkan 'Meta Category'
group_mapping = {
    'Home/ Food': '1',
    'Sports/ Hobi/ Otomotif': '1',
    'Fashion': '1',
    'Beauty/ Health': '1',
    'Gadget/ Komputer': '2',
    'Elektronik': '2',
    'Service/ Mokado': '2',
    'Babies/ Kids': '2'
}

df_transaction['Group Kategory'] = df_transaction['Meta Category'].map(group_mapping)

In [ ]:
# Melakukan reindex untuk memposisikan kolom 'Group Kategori' setelah kolom 'Meta Category'
df_transaction = df_transaction.reindex(columns=['Paid Date', 'Order Number', 'First Name', 'Last Name', 'Full Name',
       'Meta Category', 'Group Kategory', 'Product Name', 'Transaction Amount',
       'Seller Discount', 'GMV', 'Sales Discount', 'Delivery Fee',
       'Other Discount'])
df_transaction

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Group Kategory,Product Name,Transaction Amount,Seller Discount,GMV,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,2,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,156000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,2,Pulsa BOLT 150.000,287800,68000,219800,0.0,0,0.0
2,20170707,201707079264675,Citra,Ardi,Citra Ardi,Service/ Mokado,2,"XTRA Combo 12X 6GB, 12bln",35000,0,35000,700.0,0,0.0
3,20170720,201707209945714,Dian,Renaldi,Dian Renaldi,Fashion,1,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,85000,5900.0,0,0.0
4,20170722,201707220002354,rizal,Tamba,Rizal Tamba,Gadget/ Komputer,2,Samsung Galaxy Note 5 Gold,81000,0,81000,5600.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,20171201,201712012704898,Fitrah,gina,Fitrah Gina,Service/ Mokado,2,"Xtra Combo 12GB, 30hr",333000,300000,33000,2300.0,0,0.0
11996,20171203,201712032723513,Djebeng,Shinta,Djebeng Shinta,Service/ Mokado,2,"Xtra Combo 12GB, 30hr",280000,222500,57500,0.0,0,0.0
11997,20171204,201712042740205,Amik,Elan,Amik Elan,Home/ Food,1,Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...,150000,81000,69000,4800.0,0,0.0
11998,20171207,201712072778621,Anna,asih,Anna Asih,Gadget/ Komputer,2,Samsung Galaxy J5 Pro Garansi Resmi Special Price,475000,400000,75000,0.0,0,0.0
11999,20171205,201712052746101,nidyah,ayi,Nidyah Ayi,Service/ Mokado,2,[SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...,475000,400000,92000,20000.0,17000,0.0

In [ ]:
# Mengubah 'Paid Date' menjadi tipe data datetime
df_transaction['Paid Date'] = pd.to_datetime(df_transaction['Paid Date'], format='%Y%m%d')
print(df_transaction['Paid Date'].dtype)

datetime64[ns]

In [ ]:
# Menambahkan kolom 'Month_Year' yang berisi format bulan dan tahun
df_transaction['Month_Year'] = df_transaction['Paid Date'].dt.strftime('%Y-%m')

In [ ]:
# Membuat Pivot Table untuk jumlah total nilai GMV per-bulan untuk setiap group
pv = pd.pivot_table(df_transaction, values='GMV', index=['Month_Year'], columns=['Group Kategory'], aggfunc='sum', fill_value=0)

In [ ]:
# Membuat DataFrame baru dari Pivot Table
df_gmv_per_month = pd.DataFrame(pv.to_records())
df_gmv_per_month

  Month_Year          1          2
0    2017-07  147724300  230414100
1    2017-08   94599100  348790700
2    2017-09  263786400  191482700
3    2017-10  114883100  150263700
4    2017-11  263329200  326532200
5    2017-12  131366800  451421300

4. Buatlah python statement untuk mencari Seller mana yang memiliki total nilai GMV paling tinggi di bulan Agustus 2017. (Hint: gunakan juga sheet “Seller”)

In [ ]:
# Mengubah tipe data pada kolom 'Paid Date' dari int menjadi datetime
df_transaction['Paid Date'] = pd.to_datetime(df_transaction['Paid Date'], format='%Y%m%d')
print(df_transaction['Paid Date'].dtype)

datetime64[ns]

In [ ]:
# Menggabungkan tabel df_transaction dengan df_seller berdasarkan kolom 'Order Number'
df_merged = pd.merge(df_transaction, df_seller, on="Order Number")
df_merged

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Group Kategory,Product Name,Transaction Amount,Seller Discount,GMV,Sales Discount,Delivery Fee,Other Discount,Month_Year,Seller
0,2017-07-24,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,2,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,156000,10200.0,9000,0.0,2017-07,Babymaniashop
1,2017-07-01,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,2,Pulsa BOLT 150.000,287800,68000,219800,0.0,0,0.0,2017-07,E-Bold
2,2017-07-07,201707079264675,Citra,Ardi,Citra Ardi,Service/ Mokado,2,"XTRA Combo 12X 6GB, 12bln",35000,0,35000,700.0,0,0.0,2017-07,XLmystore
3,2017-07-20,201707209945714,Dian,Renaldi,Dian Renaldi,Fashion,1,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,85000,5900.0,0,0.0,2017-07,Ennwen Online Store
4,2017-07-22,201707220002354,rizal,Tamba,Rizal Tamba,Gadget/ Komputer,2,Samsung Galaxy Note 5 Gold,81000,0,81000,5600.0,0,0.0,2017-07,Media Gadget
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,2017-12-01,201712012704898,Fitrah,gina,Fitrah Gina,Service/ Mokado,2,"Xtra Combo 12GB, 30hr",333000,300000,33000,2300.0,0,0.0,2017-12,XLmystore
11996,2017-12-03,201712032723513,Djebeng,Shinta,Djebeng Shinta,Service/ Mokado,2,"Xtra Combo 12GB, 30hr",280000,222500,57500,0.0,0,0.0,2017-12,XLmystore
11997,2017-12-04,201712042740205,Amik,Elan,Amik Elan,Home/ Food,1,Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...,150000,81000,69000,4800.0,0,0.0,2017-12,Kreta Chips
11998,2017-12-07,201712072778621,Anna,asih,Anna Asih,Gadget/ Komputer,2,Samsung Galaxy J5 Pro Garansi Resmi Special Price,475000,400000,75000,0.0,0,0.0,2017-12,Erafone.com
11999,2017-12-05,201712052746101,nidyah,ayi,Nidyah Ayi,Service/ Mokado,2,[SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...,475000,400000,92000,20000.0,17000,0.0,2017-12,Serbu Seller

In [ ]:
# Menggabungkan tabel df_transaction dengan df_seller berdasarkan kolom 'Order Number'
df_merged = pd.merge(df_transaction, df_seller, on="Order Number")
df_merged

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Group Kategory,Product Name,Transaction Amount,Seller Discount,GMV,Sales Discount,Delivery Fee,Other Discount,Month_Year,Seller
0,2017-07-24,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,2,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,156000,10200.0,9000,0.0,2017-07,Babymaniashop
1,2017-07-01,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,2,Pulsa BOLT 150.000,287800,68000,219800,0.0,0,0.0,2017-07,E-Bold
2,2017-07-07,201707079264675,Citra,Ardi,Citra Ardi,Service/ Mokado,2,"XTRA Combo 12X 6GB, 12bln",35000,0,35000,700.0,0,0.0,2017-07,XLmystore
3,2017-07-20,201707209945714,Dian,Renaldi,Dian Renaldi,Fashion,1,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,85000,5900.0,0,0.0,2017-07,Ennwen Online Store
4,2017-07-22,201707220002354,rizal,Tamba,Rizal Tamba,Gadget/ Komputer,2,Samsung Galaxy Note 5 Gold,81000,0,81000,5600.0,0,0.0,2017-07,Media Gadget
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,2017-12-01,201712012704898,Fitrah,gina,Fitrah Gina,Service/ Mokado,2,"Xtra Combo 12GB, 30hr",333000,300000,33000,2300.0,0,0.0,2017-12,XLmystore
11996,2017-12-03,201712032723513,Djebeng,Shinta,Djebeng Shinta,Service/ Mokado,2,"Xtra Combo 12GB, 30hr",280000,222500,57500,0.0,0,0.0,2017-12,XLmystore
11997,2017-12-04,201712042740205,Amik,Elan,Amik Elan,Home/ Food,1,Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...,150000,81000,69000,4800.0,0,0.0,2017-12,Kreta Chips
11998,2017-12-07,201712072778621,Anna,asih,Anna Asih,Gadget/ Komputer,2,Samsung Galaxy J5 Pro Garansi Resmi Special Price,475000,400000,75000,0.0,0,0.0,2017-12,Erafone.com
11999,2017-12-05,201712052746101,nidyah,ayi,Nidyah Ayi,Service/ Mokado,2,[SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...,475000,400000,92000,20000.0,17000,0.0,2017-12,Serbu Seller

In [ ]:
# Membuat filter data dengan ketentuan bulan Agustus 2017 pada kolom 'Paid Date'
filtered_data = df_merged[(df_merged['Paid Date'].dt.month == 8) & (df_merged['Paid Date'].dt.year == 2017)]

In [ ]:
# Mencari GMV tertinggi per seller dengan grouping filtered_data dengan kunci kolom 'Seller' untuk mengelompokkan 'GMV' yang dijumlahkan.
gmv_per_seller = filtered_data.groupby('Seller')['GMV'].sum().reset_index()
gmv_per_seller

                     Seller     GMV
0             39sK Cellular   25000
1           911 ONLINE SHOP  470000
2                     9case   51000
3                    ADshop  120000
4             AG Collection   40000
..                      ...     ...
434  www.kantongbelanja.com   76400
435                   xpart   26200
436             yes24.co.id  135300
437           yohanes store   53500
438                  zhshop   55400

[439 rows x 2 columns]

In [ ]:
# Mencari Seller dengan total GMV tertinggi
seller_highest_gmv = gmv_per_seller.loc[gmv_per_seller['GMV'].idxmax()]
seller_highest_gmv

Seller    MOBILEPULSA APP
GMV             127241500
Name: 207, dtype: object

##### Seller yang memiliki total nilai GMV paling tinggi di bulan Agustus 2017 adalah MOBILEPULSA APP dengan GMV 127241500.

5. Buatlah python statement untuk mencari Seller mana yang memiliki banyaknya transaksi (count) paling banyak di bulan September 2017 khusus untuk Meta Category “Fashion”. (Hint: gunakan juga sheet “Seller”)

In [ ]:
# # Mengubah tipe data pada kolom 'Paid Date' dari int menjadi datetime
# df_transaction['Paid Date'] = pd.to_datetime(df_transaction['Paid Date'], format='%Y%m%d')
# print(df_transaction['Paid Date'].dtype)

In [ ]:
# # Menggabungkan tabel df_transaction dengan df_seller berdasarkan kolom 'Order Number'
# df_merged = pd.merge(df_transaction, df_seller, on="Order Number")
# df_merged

In [ ]:
# Membuat filter data dengan ketentuan bulan Agustus 2017 pada kolom 'Paid Date' dan kategori 'Fashion'
filtered_data2 = df_merged[(df_merged['Paid Date'].dt.month == 9) & (df_merged['Paid Date'].dt.year == 2017) & (df_merged['Meta Category'] == 'Fashion')]

In [ ]:
# Menghitung banyaknya transaksi (count) untuk setiap penjual
seller_transaction_counts = filtered_data2['Seller'].value_counts()

In [ ]:
# Mencari penjual dengan transaksi paling banyak
seller_most_transactions = seller_transaction_counts.idxmax()
seller_most_transactions

'tokoaqila'

Seller dengan transaksi paling banyak di bulan September 2017 kategori 'Fashion' adalah tokoaqila